body {
    background-color: rosybrown;
}

h1 {
    color: rgb(26, 116, 108);
}

h2 {
    color:rgb(168, 166, 21);
}

.block1 {
    background-color: mediumaquamarine;
}

.block2 {
    background-color: rgb(203, 248, 233);
}