body {
    background: url(53F3E2FB-B498-48F1-9382-A486D5CA714B_1_105_c.jpeg);
}

.container {

}
.header {

}
h1 {
    color: rgb(26, 116, 108);
}

h2 {
    color:rgb(168, 166, 21);
}

.block {
    padding: 20px;
}
.block.shortcut {
    
}

.block.tag {
    
}

.block.css {
    
}
