body {
    background-color: rosybrown;
}

.container {

}
.header {

}
h1 {
    color: rgb(26, 116, 108);
}

h2 {
    color:rgb(168, 166, 21);
}

.block {
    padding: 20px;
}
.block.shortcut {
    
}

.block.tag {
    
}

.block.css {
    
}